.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "main survey results";
  height: 100vh;
  grid-template-rows: 1fr 13fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#header {
  grid-area: header;
  font-size: xx-large;
  padding: 1rem;
  border-bottom: 5px solid black;
  background-color: #8e9aaf;
}

.section {
  padding: 1rem;
}

#users {
  grid-area: main;
  background-color: #efd3d7;
  border-right: 5px solid black;
}

#survey {
  grid-area: survey;
  background-color: #feeafa;
  border-right: 5px solid black;
}

#results {
  grid-area: results;
  background-color: #dee2ff;
}